<fieldset>
    <canvas id="teamChart"></canvas>


    <div class="training-table">
        <table>
            <thead>
                <tr>
                    <th>Employee \ Formations</th>
                    <!-- Dynamically create headers for each unique training found across all users -->
                    <th *ngFor="let trainingName of getAllTrainingNames()">{{ trainingName }}</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterate over each team member -->
                <tr *ngFor="let memberData of teamMembersTrainings">
                    <td>{{ memberData.user['prénom'] }} {{ memberData.user.nom }}</td>
                    <!-- For each unique training, check and display the progress for this member -->
                    <ng-container *ngIf="memberData.trainings.length > 0">
                        <td *ngFor="let trainingName of getAllTrainingNames()">
                            {{ getTrainingProgress(memberData.trainings, trainingName) }}
                        </td>
                    </ng-container>
                    <!-- Handle case where no trainings are associated with the employee -->
                    <ng-container *ngIf="memberData.trainings.length === 0">
                        <td *ngFor="let _ of getAllTrainingNames()" class="no-training">_</td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>
   